<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- Page Heading -->
    <!-- <h1 class="h3 mb-2 text-gray-800">Tables</h1>
    <p class="mb-4">DataTables is a third party plugin that is used to generate the demo table below.
        For more information about DataTables, please visit the <a target="_blank"
            href="https://datatables.net">official DataTables documentation</a>.</p> -->

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">

            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addModal">
                <i class="fas fa-plus"></i>
            </button>

            <!-- <h6 class="m-0 font-weight-bold text-primary">DataTables Example</h6> -->
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                      <tr>
                        <th>ID</th>
                        <th>User ID</th>
                        <th>Name</th>
                        <th>Kategori</th>
                        <th>File</th>
                        <th>Date Create</th>
                        <th>Date Update</th>
                        <th>Status</th>
                        <th>Action</th>
                       
                      </tr>
                    </thead>
                    <tbody>
                        <% data.data.forEach(video => { %>
                          <tr>
                            <td><%= video.id %></td>
                            <td><%= video.user_id %></td>
                            <td><%= video.nama %></td>
                            <td><%= video.kategori_id %></td>
                            <td>
                              <% video.images.forEach(image => { %>
                                <%= image.file %><br>
                              <% }) %>
                            </td>
                            <td><%= video.createdAt %></td>
                            <td><%= video.updatedAt %></td>
                            <td></td>
                            <td><a href="javascript:void()" type="button" class="btn btn-warning btn-circle btn-sm button-update">
                                <i class="fas fa-edit"></i></a>
                            <button type="submit" class="btn btn-danger btn-circle btn-sm"><i class="fas fa-trash"></i></button></td>
                          </tr>
                        <% }) %>
                      </tbody>
                  </table>
            </div>
        </div>
    </div>

</div>
<!-- /.container-fluid -->